<div class="page">
  <%= yield %>
</div>

<!--ポジションのパラメータをjsで読む用-->
<%= hidden_field_tag 'position_x', params[:x] %>
<%= hidden_field_tag 'position_y', params[:y] %>
<%= hidden_field_tag 'position_z', params[:z] %>

<!--手動でポジションを変更できるテキストボックス-->
<div class="listener-pos" style="display: none;">
  <input type="number" class="listener-x" value="0">
  <input type="number" class="listener-y" value="0">
  <input type="number" class="listener-z" value="0">
</div>

<button id="start">start</button>

<%= render "components/partials/time_chart" %>