<div class="page">
  <%= yield %>
</div>

<!--ポジションのパラメータをjsで読む用-->
<%= hidden_field_tag 'position_x', params[:x] %>
<%= hidden_field_tag 'position_y', params[:y] %>
<%= hidden_field_tag 'position_z', params[:z] %>
<%= hidden_field_tag 'debug', params[:debug] %>

<!--手動でポジションを変更できるテキストボックス-->
<div class="listener-pos" style="display: none;">
  <input type="number" class="listener-x" value="0">
  <input type="number" class="listener-y" value="0">
  <input type="number" class="listener-z" value="0">
</div>
<div id="button-wrapper">
  <a id="start"><span>start</span></a>
</div>


<% if params[:debug] %>
  <%= render "components/partials/time_chart" %>
<% end %>