<!DOCTYPE html>
<html>
  <head>
    <title>Ambisonic3</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  </head>

  <body>
    <%= javascript_pack_tag 'application' %>
    <p id="current_path" style="display: none;"><%= request.path_info %></p>
    <%= yield %>
  </body>
</html>
