<!DOCTYPE html>
<html>
  <head>
    <title>Ambisonic3</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <%= javascript_pack_tag 'application' %>
    <p id="current_path" style="display: none;"><%= request.path_info %></p>
    <%= yield %>
  </body>
</html>
